<div class="container repository-container py-3 mb-4">
    <div class="row">
        <div class="col-md-auto col-sm-12 d-flex justify-content-center align-items-center">
            <a href="{{ repository.owner.html_url }}" target="_blank">
                <img src="{{ repository.owner.avatar_url }}"
                    class="d-inline-block align-top avatar"
                    title="{{ repository.owner.login + ' avatar' }}"
                    alt="{{ repository.owner.login + ' avatar' }}">
            </a>
        </div>
        <div class="col-md col-sm-12">
            <div class="row">
                <div class="col-12 mb-1">
                    <h4 class="mb-0">
                        <a href="{{ repository.html_url }}" target="_blank">
                            {{ repository.name }}
                        </a>
                    </h4>
                </div>
                <div class="col-12 mb-1" *ngIf="repository.description">
                    {{ repository.description }}
                </div>
                <div class="col-12">
                    <h6 style="display: inline;">
                        <a class="badge badge-warning mr-2" href="{{ repository.stargazers_url }}" target="_blank">
                            Stars : {{ repository.stargazers_count | shortNumber }}
                        </a>
                        <a class="badge badge-danger" href="{{ repository.open_issues_url }}" target="_blank">
                            Issues : {{ repository.open_issues_count | shortNumber }}
                        </a>
                    </h6>
                    <span>
                        Submitted {{ repository.created_at | timeAgo }} by
                        <a href="{{ repository.owner.html_url }}" target="_blank">
                            {{ repository.owner.login }}
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>