.repository-container {
    background-color: #f8f9fa5e;
    border: 1px solid #c5c5c53d;
    border-radius: 15px;
}

.repository-container:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .09);
}

.badge-warning {
    color: #fff !important;
}

.avatar {
    border-radius: 5px;
    width: 85px;
    height: 100%;
}