<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"  href="https://www.gemography.com/" target="_blank">
        <img src="assets/layout/svg/gemography_logo.svg" height="30" class="d-inline-block align-top" alt="">
    </a>
    <div class="text-center">
        <span style="color: #6050dc;">
            Front-end Coding Challenge by
            <a href="https://www.linkedin.com/in/saad-tinani/" target="_blank">
                <b>Saad TINANI</b>
            </a>
        </span>
    </div>
</nav>