<div class="container py-5">
    <div class="row">
        <div class="col-12 py-4 my-4">
            <div class="container text-center">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img src="assets/layout/img/404.png" width="300px" class="d-inline-block align-top" alt="something_wrong.png">
                </div>
                <div class="col-12">
                    <h1 style="font-size: 4rem;">
                        Oops!
                    </h1>
                </div>
                <div class="col-12">
                    <h4>
                        Sorry, but the page you're looking for is not found!
                    </h4>
                </div>
                <div class="col-12 mt-4">
                    <button type="button" class="btn btn-primary" [routerLink]="'/'">
                        Go home
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>