<div class="container py-5">
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <!-- First loader -->
        <div class="col-12 py-5 my-5 d-flex justify-content-center align-items-center" *ngIf="isLoading && !repositories && !httpErrorResponse">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        
        <!-- List of repositories -->
        <div class="col-12" *ngFor="let repository of repositories; let i = index;">
            <repository [repository]="repository"></repository>
        </div>

        <!-- Scrolling loader -->
        <div class="col-12 py-4 d-flex justify-content-center align-items-center" *ngIf="isLoading && repositories && !httpErrorResponse">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>

        <!-- Display error message if something went wrong -->
        <div class="col-12 py-5 my-4" *ngIf="httpErrorResponse">
            <div class="container text-center">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img src="assets/layout/img/something_wrong.png" width="100px" class="d-inline-block align-top" alt="something_wrong.png">
                </div>
                <div class="col-12">
                    <h1 style="font-size: 4rem;" *ngIf="httpErrorResponse.status === 0">
                        Oops!
                    </h1>
                    <h1 style="font-size: 4rem;" *ngIf="httpErrorResponse.status !== 0">
                        Error {{ httpErrorResponse.status }}
                    </h1>
                </div>
                <div class="col-12">
                    <h4>{{ httpErrorResponse.message }}</h4>
                </div>
                <div class="col-12 mt-4">
                    <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="getRepositories(currentPage, targetedCreationDate)">
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></div>
                        Try again
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>